.input {
    padding-left: 20px;
    height: 45px;
    border: 2px solid black;
    width: 500px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: large;
}

.btn {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #646cff;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: large;
}

.btn:hover,
.btn:focus {
    background-color: #535bf2;
}